YEAR=2026
TIDE_PDF_PATH=resources/tide-pdf/
DB_DSN=pgsql:host=localhost;port=5432;dbname=postgres
DB_PASSWORD=postgres
DB_USER=postgres
DB_SCHEMA=tide_tracker
PHINX_DBDSN=pgsql://postgres:postgres@localhost:5432/tide_tracker
PHINX_DBSCHEMA=tide_tracker